*{
    margin:0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
body{
    background: #000;
    color: #0074D9;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/aqsa.png);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 30px 15%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-right: 200px;
    font-size: 13px;
}
.logo{
    width: 50px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 5px;
}

nav ul li a {
    position: relative;
    text-decoration: none;
    color: white; /* Text color */
}

nav ul li a::before {
    content: '';
    width: 6px; /* Diameter of the circle */
    height: 6px; /* Diameter of the circle */
    border: 3px solid transparent; /* Make the circle initially transparent */
    border-radius: 50%; /* Makes it a circle */
    position: absolute;
    top: 125%; /* Position the circle vertically centered */
    left: -10px; /* Position the circle to the left of the text */
    transform: translateY(-50%);
    transition: border-color 0.3s ease; /* Apply transition to circle border color */
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #0074D9;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::before {
    border-color: #0074D9; /* Make the circle visible with a border color on hover */
}

nav ul li a:hover::after {
    width: 100%; /* Expand the line to the full width of the anchor element on hover */
}
.header-text{
    margin-top: 20%;
    font-size: 13px;
    color: white;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.button {
    margin-top: 20px;
    background-color: #0074D9; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
  }


.circle::before {
    content: "";
    position: absolute;
    width: 2px; /* Width of the line */
    height: calc(100% + 20px); /* Height to cover the text and extend vertically */
    background-color: #0074D9; /* Line color */
    left: 50%; /* Start the line from the center of the circle */
    transform: translateX(-50%); /* Center the line horizontally */
    top: 100%; /* Position the line at the bottom of the circle */
}
/* ---------Services-------- */
#service{
    padding: 5% 8%;
    color: white;
    width: 100%;
    height: 60vh;
}
.row1{
    text-align: center;
    position:relative;
}
#midbox {
    font-size: 8px;
    width: fit-content;
    margin-left: 45%;
    border-width:3px;
    padding-bottom: 5px;
    padding-left: 5px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style:  solid;
    border-color:#287EC7;
    border-bottom-left-radius: 10px;
}
.row2{
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 1% 10%;
    width: 90%;
    height: 40%;
}
.row2 .col{
padding-left: 15%;
}
.row2 .pic{
    align-items: center;
    width: 90px;
    height: 90px;
    border-radius: 50%;
}
.row2 h5{
    text-align: center;
    padding-top: 10%;
}
.row2 p{
    padding-top: 10%;
    font-size: 8px;
    text-align: left;
}

/* ---------Projects-------- */
#projects{
    max-width: 1224px;
    width: 90%;
    margin: auto;
    padding: 40px 0;
    color: white;
}
#projects h1{
    padding-top: 20px;
    color: white;
    text-align: center;
}
.pro-images{
    padding-left: 6%;
    margin-top: 1%;
    display: flex;
    gap: 10px;
}
.column{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.column img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
#midbutton{
    width: 90%;
    text-align: center;
    background: transparent;
}
#button1{
    margin-top: 10px;
    background-color: transparent; /* Green */
    border-color: #0074D9;
    color: white;
    padding: 12px 12px;
    text-align: center;
    font-size: 12px;
    border-radius: 12px;   
}
/* ---------Achievements-------- */
#acheivements{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#acheivements .left{
    flex-basis: 50%;
}
.left img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
.right{
    flex-basis: 50%;
    text-align: left;
    padding: 40 80px;
}
#leftbox {
    padding-left: 4px;
    font-size: 8px;
    width: fit-content;
    border-width:3px;
    padding-bottom: 5px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style:  solid;
    border-color:#287EC7;
    border-bottom-left-radius: 10px;
    color: white;
}
#acheivements h1{
    padding-top: 20px;
    color: white;
    text-align: left;
    padding-left: 4px;
}
.subrow{
    display: flex;
    padding: 20px;
    line-height: 30px;
}
.subrow h4{
    color: white;
}
.subrow p{
    color: white;
    font-size: 10px;
    margin-right: 2%;
}

/* ---------Skills-------- */
#skills{
    margin: 2%;
    color: white;
}
#skills h1{
    text-align: center;
    line-height: 50px;
}
.all{
    display: flex;
}
.circle-wrap{
    display: grid;
    grid-template-columns: repeat(1, 160px);
    grid-gap: 80px;
    margin-top: 100px;
    margin-left: 50px;
    width: 150px;
    height: 150px;
    background-color: azure;
    border-radius: 50%;
}
.circle-wrap .circle .mask,
.circle-wrap .circle .fill-1,
.circle-wrap .circle .fill-2,
.circle-wrap .circle .fill-3,
.circle-wrap .circle .fill-4{
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
}
.circle-wrap .circle .mask{
    clip: rect(0px, 150px, 150px, 75px);
}
.mask .fill-1{
    clip: rect(0px, 75px, 135px, 0px);
    background-color: #0074D9;
}
.mask.full-1,
.circle .fill-1{
    animation: fill-1 ease-in-out 3s;
    transform: rotate(135deg);
}
@keyframes fill-1{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(153deg);}
}
.mask .fill-2{
    clip: rect(0px, 75px, 150px, 0px);
    background-color: #0074D9;
}
.mask.full-2,
.circle .fill-2{
    animation: fill-2 ease-in-out 3s;
    transform: rotate(153deg);
}
@keyframes fill-2{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(153deg);}
}
.mask .fill-3{
    clip: rect(0px, 75px, 150px, 0px);
    background-color: #0074D9;
}
.mask.full-3,
.circle .fill-3{
    animation: fill-3 ease-in-out 3s;
    transform: rotate(163deg);
}
@keyframes fill-3{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(163deg);}
}
.mask .fill-4{
    clip: rect(0px, 75px, 150px, 0px);
    background-color: #0074D9;
}
.mask.full-4,
.circle .fill-4{
    animation: fill-4 ease-in-out 3s;
    transform: rotate(173deg);
}
@keyframes fill-4{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(173deg);}
}
.inside-circle{
    width: 124px;
    height: 124px;
    border-radius: 50%;
    background-color: #000;
    line-height: 120px;
    position: absolute;
    margin-top: 13px;
    margin-left: 13px;
    z-index: 100;
    font-size: 2em;
    font-weight: 700;
    color: white;
    text-align: center;
}
/* ---------Experience & Education-------- */
#experience{
    width: 100%;
    height: 100%;
    display: flex;
    /* justify-content: space-between; */
    /* flex-wrap: wrap; */
    margin: 1%;
}
.leftside{
    /* background-color: aqua; */
    flex-basis: 25%;
    /* padding: 4%; */
}
.firstrow{
    display: flex;
    padding: 2%;
    padding-bottom: 10%;
    line-height: 20px;
}
.exleft{
    padding-right: 15%;
}
.firstrow h5{
    color: white;
}
.firstrow p{
    color: white;
    font-size: 10px;
}
.middle{
    flex-basis: 25%;
}
#experience .rightside{
    flex-basis: 50%;
    text-align: center;
}
.rightside iframe{
    width: 60%;
    height: 70%;
    text-align: right;
    /* padding-left: 40%; */
}
.rightside p{
    color: white;
    font-size: 15px;
    text-align: center;
    padding-top: 20px;
}
/* ---------Contact Us-------- */